# =========================================
# PYTHON
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# ENV FILES
# =========================================

.env
.env.local
.env.*

# =========================================
# VIRTUAL ENVIRONMENTS
# =========================================

venv/
.env_venv/
.venv/

# =========================================
# UPLOADS
# =========================================

uploads/

# =========================================
# FRONTEND
# =========================================

node_modules/
.next/
out/

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# LOGS
# =========================================

*.log

# =========================================
# IDE
# =========================================

.vscode/
.idea/

# =========================================
# DATABASE
# =========================================

*.db
*.sqlite3

# =========================================
# BUILD FILES
# =========================================

dist/
build/
.env
backend/.env
frontend/.env.local
