# Python
__pycache__/
*.pyc

# Environment files
.env
backend/.env

# Virtual environments
venv/
backend/venv/

# Uploads
uploads/
backend/uploads/

# Node / Next.js
node_modules/
.next/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# Cache
.cache/